:root {
    box-sizing: border-box;
    --fontcolor: rgb(173, 96, 96);
    --backcolor: rgb(250, 221, 142);
    --headercolor: rgb(175, 85, 85);
    --leftbcolor: #fff;
    --rightbcolor: #fff;
}
*, ::before ::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backcolor);
}

.header {
    background-color: var(--headercolor);
    padding: 1em 1.5em;
    border-bottom: solid 0.1em;
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
.WholeB {
    display: flex;
}
.left {
    display: table-row;
    background-color: var(--leftbcolor);
    border-radius: 0.5em;
    width: calc(50% - 1.2em);
    margin: 0 1.2em 1.2em 1.2em;
    padding: 1.2em;
    line-height: 1.5em;
}
.right {
    display: table-row;
    background-color: #fff;
    border-radius: 0.5em;
    width: calc(50% - 1.2em);
    margin: 0 1.2em 1.2em 1.2em;
    padding: 1.2em;
    line-height: 1.5em;
}
.footer {
    font-size: small;
    background-color: black;
    color: white;
    padding: 1.3em;
    text-align: center;
    text-transform: uppercase;
}
